<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h4><b>Book</b></h4>
            <form #form="ngForm" autocomplete="off" (submit)="OnSubmit(form)">
                <input type="hidden"  name="Id" #Id="ngModel" [(ngModel)]="books_service.formData.Id">
                <div class="form-group">
                    <input type="text" name="BookCode" #BookCode="ngModel" [(ngModel)]="books_service.formData.BookCode" class="form-control" placeholder="Book Code" required>
                </div>
                <div class="form-group">
                    <input type="text" name="BookName" #BookName="ngModel" [(ngModel)]="books_service.formData.BookName" class="form-control" placeholder="Book Name" required>
                </div>
                <div class="form-group">
                    <input type="text" name="BookConut" #BookCount="ngModel" [(ngModel)]="books_service.formData.BookCount" class="form-control" placeholder="Book Count" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-7"></div>
    </div>
</div>
